#mostrarCuentaContainer {
    width: 100%;
    height: 100vh;
    background: url('../../assets/asd.svg');
    background-position: center center;
    background-size: cover;
    // overflow: auto; //background: map-get($colors, principal);
    #headerMC-Container {
        width: 100%;
        padding: 10px 0;
        height: 5vh;
        position: relative;
        #logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #RegresarButton {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(0%, -50%);
            background: transparent;
            border: none;
        }
    }
    #MC-Indicador {
        width: 100%;
        padding: 35px 0;
        height: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        #MC-img {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 36px !important;
                height: 36px !important;
            }
        }
        #MC-Descp {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            p {
                color: map-get($colors, blanco-alto);
                text-align: left;
                font-family: map-get($fonts, OpenSans);
            }
            #MC-Sub1 {
                font-size: 14px;
                color: #e8e8e8;
                margin-bottom: 5px;
            }
            #MC-Sub2 {
                font-size: 10px;
                color: #c3c3c3;
            }
        }
    }
    #slides-MC {
        width: 100%;
        height: 83vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        #MC .pin-code-field {
            width: 20px;
            font-size: 12px;
        }
        .swiper-pagination-bullet-active {
            background: map-get($colors, verde) !important; //border: 1px solid map-get($colors,verde);
            //box-shadow: 0 0 3px 1px map-get($colors,verde);
        }
        #spinner-container {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            p {
                margin: 0 10px;
                font-family: map-get($fonts, OpenSans);
                font-weight: 300;
                font-size: 12px;
            }
            ion-spinner * {
                width: 28px;
                height: 28px;
                stroke: map-get($colors, verde);
                fill: transparent;
            }
        }
        #errorText {
            margin-top: 10px;
            color: #FF607A;
            font-family: map-get($fonts, OpenSans);
            font-size: 10px;
        }
        #slideAccount {
            position: relative;
            .slide-zoom {
                padding-top: 20px;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                height: 78% !important;
                margin: 0 0 !important;
            }
            #MC-Details {
                height: 100%;
                #DA-Desc {
                    font-size: 12px;
                    font-family: map-get($fonts, OpenSans);
                    font-weight: 600;
                    color: #fff;
                }
                #DA-btns {
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    button {
                        background: none;
                    }
				}
				#EA-btn-options{
					margin-top: -16px;
					button{
						border: none;
						background: rgba(255,255,255,.05);
						text-align: center;
						border-radius: 6px;
						padding: 12.5px 15px;
						font-family: map-get($fonts,OpenSans);
						font-weight: 300;
					}
					#ConfirmEdit-Btn{
						color: map-get($colors,verde);

					}
					#CancelEdit-Btn{
						color: map-get($colors,blanco-bajo);
					}
				}
                #verify-pinContainer {
					height: 20vh ;
                    width: 50%;
                    position: absolute;
                    left: 50%;
					transform: translate(-50%, 0);
					display: flex;
					justify-content: center;
					align-items: center;
                }
                .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
                .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
                    border-bottom-color: none !important;
                    box-shadow: none !important;
                }
                .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
                .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
                    border-bottom-color: none !important;
                    box-shadow: none !important;
                }
            }
            #BtnEventsforAccount {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                button {
                    background: transparent;
                    border: none;
                    img {
                        width: 35px !important;
                        height: 35px !important;
                        padding: 5px;
                    }
                    p {
                        font-family: map-get($fonts, OpenSans);
                        font-weight: 300;
                        color: map-get($colors, blanco-alto);
                        font-size: 10px;
                    }
                    .optionSelected {
                        color: map-get($colors, verde) !important;
                    }
                }
            }
        }
    }
}
