<ion-content id="mostrarCuentaContainer" padding>
	<div id="headerMC-Container">
		<img
			id="logo"
			width="25"
			height="25"
			src="../../assets/Logo.svg"
			alt=""
		/>
		<button id="RegresarButton" (click)="goBack()">
			<img
				width="25"
				height="25"
				src="../../assets/RegresarIcon.svg"
				alt=""
			/>
		</button>
	</div>

	<div id="MC-Indicador">
		<div id="MC-img"><img src="../../assets/Bola1.svg" alt="" /></div>
		<div id="MC-Descp">
			<p id="MC-Sub1">Cuentas de {{ accountType }}</p>
			<p id="MC-Sub2">{{ accounts.length }} cuentas</p>
		</div>
	</div>

	<div id="slides-MC">
		<ion-slides paginationType="bullets" (ionSlideDidChange)="slideChanged()" pager="true">
			<ion-slide  *ngFor="let account of accounts" id="slideAccount">
				<div id="MC-Details">
					<!-- Mostrar cuenta -->
					<show-account
						*ngIf="accountManager.isAccountShowing"
						[account]="account"

					>
					</show-account>

					<!-- Editar cuenta -->
					<edit-account
						*ngIf="accountManager.isAccountEditing"
						[account]="account"
					></edit-account>

					<!-- Borrar cuenta -->
					<delete-account
						*ngIf="accountManager.isAccountDeleting"
						[account]="account"
						[slide]="slides"
					>
					</delete-account>

					<!-- Verificador de pin -->
					<verify-pin
						[headerText]="'Ingrese el pin'"
						[errorText]="errorText"
						[waitForPinConfirmation]="waitForPinConfirmation"
						(onWrittenEvent)="verifyPin($event, account)"
						*ngIf="accountManager.isPinShown"
					></verify-pin>
				</div>

				<!-- Opciones para la cuenta -->
				<div id="BtnEventsforAccount" *ngIf="!accountManager.isAccountEditing">
					<button (click)="editAccountSelected()">
						<img
							width="30"
							height="30"
							src="../../assets/EditarIcon.svg"
							alt=""
						/>
						<p [class.optionSelected]="optionTaked === 'edit'">
							Editar Cuenta
						</p>
					</button>

					<button
						id="btn-mostrarAccount"
						(click)="revealAccountSelected()"
					>
						<img
							width="30"
							height="30"
							src="../../assets/encrypted.svg"
							alt=""
						/>
						<p [class.optionSelected]="optionTaked === 'reveal'">
							Mostrar Cuenta
						</p>
					</button>

					<button (click)="deleteAccountSelected()">
						<img
							width="30"
							height="30"
							src="../../assets/deleteaccountIcon.svg"
							alt=""
						/>
						<p [class.optionSelected]="optionTaked === 'delete'">
							Borrar Cuenta
						</p>
					</button>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</ion-content>
