<ion-content id="mostrarCuentaContainer" padding>
	<div id="headerMC-Container">
		<img
			id="logo"
			width="25"
			height="25"
			src="../../assets/Logo.svg"
			alt=""
		/>
		<button id="RegresarButton" (click)="goBack()">
			<img
				width="25"
				height="25"
				src="../../assets/RegresarIcon.svg"
				alt=""
			/>
		</button>
	</div>

	<div id="MC-Indicador">
		<p>Estas viendos las cuentas de {{ accountType }}</p>
		<br />
		<p>{{ accountNumber }} cuentas</p>
	</div>

	<div id="slides-MC">
		<ion-slides (ionSlideDidChange)="slideChanged()" pager="true">
			<ion-slide *ngFor="let account of accounts" id="slideAccount">
				<show-account *ngIf="!isAccountEditted" [account]="account">
				</show-account>

				<edit-account
					*ngIf="isAccountEditted"
					[account]="account"
				></edit-account>

				<verify-pin
					[headerText]="'Ingrese el pin'"
					[errorText]="errorText"
					(onWrittenEvent)="verifyPin($event, account)"
					*ngIf="isPinShow"
				></verify-pin>

				<div id="BtnEventsforAccount">
					<button (click)="editAccountSelected(account)">
						<img
							width="30"
							height="30"
							src="../../assets/EditarIcon.svg"
							alt=""
						/>
						<p>Editar Cuenta</p>
					</button>

					<button
						id="btn-mostrarAccount"
						(click)="revealAccountSelected(account)"
					>
						<img
							width="30"
							height="30"
							src="../../assets/aNada.svg"
							alt=""
						/>
						<p>Mostrar Cuenta</p>
					</button>

					<button (click)="deleteAccountSelected(account)">
						<img
							width="30"
							height="30"
							src="../../assets/BorrarIcon.svg"
							alt=""
						/>
						<p>Borrar Cuenta</p>
					</button>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</ion-content>
