<ion-content id="homeContainer" padding>
	<div id="headerContainer">
		<img
			id="logo"
			width="25"
			height="25"
			src="../../assets/Logo.svg"
			alt=""
		/>
		<img
			id="configuration"
			width="25"
			height="25"
			src="../../assets/OpcionesTop.svg"
			alt=""
		/>
	</div>

	<div id="addAccountContainer">
		<button *ngIf="!eventAdd" (click)="toggleCreateAccount()">
			<img
				width="20"
				height="20"
				src="../../assets/AddAcountIcon.svg"
				alt=""
			/>
			Nueva cuenta
		</button>

		<button *ngIf="eventAdd" (click)="toggleCreateAccount()">
			<img
				width="20"
				height="20"
				src="../../assets/CancelarIcon.svg"
				alt=""
			/>
		</button>

		<create-account *ngIf="eventAdd"></create-account>
	</div>

	<div id="myAccountsContainer">
		<div id="headerAccountsContainer">
			<p>Mis cuentas</p>
			<img
				width="18.5"
				height="18.5"
				src="../../assets/SearchIcon.svg"
				alt=""
			/>
		</div>

		<div
			*ngFor="let cuenta of arrDtoAccount.accounts"
			class="grid-container"
			(click)="showAccounts(cuenta.first)"
		>
			<img
				src="https://www.facebook.com/images/fb_icon_325x325.png"
				alt=""
			/>
			<span>{{ cuenta.first }}</span>
			<span>{{ cuenta.second.length }} cuentas</span>
		</div>
	</div>
</ion-content>
