page-home {
	overflow: auto;
	div {
		display: flex;
		flex-flow: column nowrap;
		margin: 1rem;
		padding: 2rem;
		background-color: lightgray;
		p {
			margin: 0;
		}
		div {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			button {
				align-self: center;
				background-color: #323232;
				color: #eee;
				width: 45%;
				padding: 1.5rem;
				text-align: center;
			}
		}
	}
}
