#homeContainer{
	#editPin-VerifyContainer{
		position: absolute;
		top:40%;
		left:50%;
		transform: translate(-50%,-40%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

}
