pin-input {
	#form-container-pin {
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			color: #ffffff;
			font-size: 1rem;
		}

		input {
			margin: 0 10px;
			width: 30px;
			background: transparent;
			border: none;
			border-bottom: 1px solid #eee;
			text-align: center;
			color: map-get($colors, blanco-medio);
			font-family: map-get($fonts, OpenSans);
		}
	}
}
