<div>
	<div id="form-container-pin">
		<input
			#pinref1
			maxlength="1"
			(keyup)="focus2($event)"
			type="text"
			class="pin-code-field"
		/>
		<input
			#pinref2
			maxlength="1"
			(keyup)="focus3($event)"
			type="text"
			class="pin-code-field"
		/>
		<input
			#pinref3
			maxlength="1"
			(keyup)="focus4($event)"
			type="text"
			class="pin-code-field"
		/>
		<input
			#pinref4
			maxlength="1"
			(keyup)="focus5($event)"
			type="text"
			class="pin-code-field"
		/>
		<input
			#pinref5
			maxlength="1"
			(keyup)="focus6($event)"
			type="text"
			class="pin-code-field"
		/>
		<input #pinref6 maxlength="1" type="text" class="pin-code-field" />
	</div>
</div>
